/* style.css */
body {
    margin: 0;
    overflow: hidden;
    background-color: black;
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 20%;
}

.stsec {
    height: 100vh;
    position: absolute;
}

.avatardiv {
    margin-top: 20vh;

}

.avatar {

    height: 320px;
    /* Set avatar size */
    top: 50%;
    /* Center vertically */
    left: 50%;
    /* Center horizontally */


}

.maintextsec {
    position: absolute;
    color: white;
    margin-top: -40vh;
}

.nameh {

    position: absolute;
    color: green;
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.name {
    margin-top: 2vh;
    font-size: 50px;
    color: green;
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 9vmin;
    color: rgb(159, 255, 170);
    text-align: left;
    font-family: Lato, sans-serif;
    font-weight: 700;
    margin: 1rem 0 1rem 2rem;
  }

  span{
    color: rgb(103, 255, 103);
  }
  
  /* Typewriter effect 1 */
  @keyframes typing {
     /* "Aloka Dev" */
     0%, 10% { content: ""; }
     1%, 9% { content: "A"; }
     2%, 8% { content: "Al"; }
     3%, 7% { content: "Alo"; }
     4%, 6% { content: "Alok"; }
     5% { content: "Aloka"; }
     6% { content: "Aloka "; }
     7% { content: "Aloka D"; }
     8% { content: "Aloka De"; }
     9% { content: "Aloka Dev"; }
     
     /* Pause before changing to next word */
     10%, 20% { content: "Aloka Dev"; }
 
     /* "Web Developer" */
     21%, 30% { content: ""; }
    22% { content: "F"; }
    23% { content: "Fu"; }
    24% { content: "Ful"; }
    25% { content: "Full"; }
    26% { content: "Full "; }
    27% { content: "Full S"; }
    28% { content: "Full St"; }
    29% { content: "Full Sta"; }
    30% { content: "Full Stac"; }
    31% { content: "Full Stack"; }
    32% { content: "Full Stack "; }
    33% { content: "Full Stack D"; }
    34% { content: "Full Stack De"; }
    35% { content: "Full Stack Dev"; }
    36% { content: "Full Stack Deve"; }
    37% { content: "Full Stack Devel"; }
    38% { content: "Full Stack Develo"; }
    39% { content: "Full Stack Develop"; }
    40% { content: "Full Stack Developer"; }
 
     /* Pause before changing to next word */
     35%, 45% { content: "Web Developer"; }
 
     /* "Innovator" */
     46%, 55% { content: ""; }
     47% { content: "I"; }
     48% { content: "In"; }
     49% { content: "Inn"; }
     50% { content: "Inno"; }
     51% { content: "Innov"; }
     52% { content: "Innova"; }
     53% { content: "Innovat"; }
     54% { content: "Innovato"; }
     55% { content: "Innovator"; }
 
     /* Pause before changing to next word */
     56%, 65% { content: "Innovator"; }
 
     /* "Graphic Designer" */
     66%, 75% { content: ""; }
     67% { content: "G"; }
     68% { content: "Gr"; }
     69% { content: "Gra"; }
     70% { content: "Grap"; }
     71% { content: "Graph"; }
     72% { content: "Graphi"; }
     73% { content: "Graphic"; }
     74% { content: "Graphic "; }
     75% { content: "Graphic D"; }
     76% { content: "Graphic De"; }
     77% { content: "Graphic Des"; }
     78% { content: "Graphic Desi"; }
     79% { content: "Graphic Desig"; }
     80% { content: "Graphic Design"; }
     81% { content: "Graphic Designe"; }
     82% { content: "Graphic Designer"; }
 
     /* Pause before changing to next word */
     83%, 90% { content: "Graphic Designer"; }
 
     /* "Content Creator" */
     91%, 100% { content: ""; }
     92% { content: "C"; }
     93% { content: "Co"; }
     94% { content: "Con"; }
     95% { content: "Cont"; }
     96% { content: "Conte"; }
     97% { content: "Conten"; }
     98% { content: "Content"; }
     99% { content: "Content "; }
     100% { content: "Content C"; }
     101% { content: "Content Cr"; }
     102% { content: "Content Cre"; }
     103% { content: "Content Crea"; }
     104% { content: "Content Creat"; }
     105% { content: "Content Creato"; }
     106% { content: "Content Creator"; }
  }
  
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  
  .typewriter {
    --caret: currentcolor;
  }
  
  .typewriter::before {
    content: "";
    animation: typing 13.5s infinite;
  }
  
  .typewriter.nocaret::after {
    border-right: 0;
  }
  
  
  @media (prefers-reduced-motion) {
    .typewriter::after {
      animation: none;
    }
    
    @keyframes sequencePopup {
      0%, 100% { content: "developer"; }
      25% { content: "writer"; }
      50% { content: "reader"; }
      75% { content: "human"; }
    }
  
    .typewriter::before {
      content: "developer";
      animation: sequencePopup 12s linear infinite;
    }
  }

  @media (max-width:) {
    
  }
  